/* app css stylesheet */

.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}

.btn-vertical-space {
	margin-bottom: 5px;
}

/*Quiz questions styles */
.column-heading {
	display: inline;
}

.panel-ul{
	padding: 15px;
}

.dndlistcss ul[dnd-list],
.dndlistcss ul[dnd-list] > li {
	position: relative;
}

.dndlistcss ul[dnd-list]{
	min-height: 42px;
	padding-left: 0px;
}

.dndlistcss ul[dnd-list]  .dndDraggingSource{
	display: none;
}

.dndlistcss ul[dnd-list] .dndPlaceHolder{
	display: block;
	background-color: #ddd;
	min-height: 42px;
}

.dndlistcss ul[dnd-list] li{
	background-color: #fff;
	border: 1px solid #ddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
}

.dndlistcss ul[dnd-list] li.selected {
	background-color: #dff0d8;
	color: #3c763d;
}

/* Search/Filter Box */

.list-search {
	margin-bottom: 5px;
}

