<div class="container">
    <div id="updateSuccessAlert" class="alert alert-success" style="display: none;">
        <strong>Update Successful</strong> Your changes were saved successfully.
    </div>

    <div id="updateFailAlert" class="alert alert-danger" style="display: none;">
        <strong>Update Failed</strong> A problem occurred while saving your changes.
    </div>


	<h2>Choose Questions For Quiz</h2>
	<h5>Quiz Name: {{quiz.quizName}}</h5>
	<h5>Grade: {{quiz.gradeLevel}}</h5>
	<button type="button" class="btn btn-xs btn-default btn-vertical-space" ng-click="backBtnClick()">Back</button>
	</button>

    <div class ="dndlistcss ng-scope" >
	    <div ng-repeat="(listName, list) in models.lists" class="col-md-6 ng-scope" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title ng-binding">{{listHeadings[$index]}}</h4>
                </div>
                <div class="panel-body ng-scope">
                    <ul dnd-list="list" class="ng-scope">
                        <li ng-repeat="question in list"
                            class="ng-binding ng-scope"
                            dnd-draggable="question"
                            dnd-moved="list.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = question"
                            ng-class="{'selected': models.selected === question}"
                        >
                            {{question.text}}
                        </li>
                    </ul>
                </div>


            </div>
	    </div>
    </div>
</div>