<div class="container">

	<h2>Class List</h2>
	<table class="table table-striped table-hover">
		<tr>
			<th>Class Name</th>
			<th>Grade</th>
			<th>Teacher</th>
			<th>Options</th>
		</tr>
		<tr class="ng-scope" ng-show="!classes.length">
			<td colspan="5">You have no classes</td>
		</tr>
		<tr class="clickable-row" ng-repeat="class in classes">
			<td>{{class.className}}</td>
			<td>{{class.grade}}</td>
			<td>{{class.TeacherUsername}}</td>
			<td>
				<button type="button" class="btn btn-xs btn-default">Edit
				</button>
				<button type="button" class="btn btn-xs btn-default">Do another thing
				</button>
			</td>

		</tr>
	</table>


</div>